# Gradle
**/gradle-wrapper.jar
**/gradlew
**/gradlew.bat

# Android/Gradle specific
**/.gradle/
**/captures/
**/local.properties
**/GeneratedPluginRegistrant.java

# Keystore
# Remember to never publicly share your keystore.
# See https://flutter.dev/docs/deployment/android#reference-the-keystore-from-the-app
**/key.properties
**/*.keystore
**/*.jks

# Ensure necessary Android app files are not ignored
!**/android/app/
